/* * {
    box-sizing: border-box;
    margin: 0;
}

main {
    margin: 25px;
    max-width: 85%;
    max-height: 80%;
}

.btnHead {
    display: flex;
    flex-direction: row;
}

.divXML, .divInput {
    display: flex;
    height: 40px;
    width: 150px;
}

.btnXML, .btnInput {
    padding: 0;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btnXML:focus, .btnInput:focus {
    background-color: rgb(221, 221, 221);
}

.field {
    border: 2px solid black;
    width: 75%;
    height: 70%;
}

.divXMLInput {
    display: flex;
    flex-direction: column;
}

.XMLh3 {
    padding: 30px 20px;
}

#inputXML {
    margin-left: 20px;
    width: 400px;
    height: 300px;
}

#convert {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 25%;
    height: 40px;
    width: 150px;
}

.JSONh3 {
    padding: 30px 20px;
}

#json {
    margin-left: 20px;
    margin-bottom: 30px;
    width: 400px;
    height: 300px;
} */
